.listContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.listWrapper {
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.listSearch {
    flex:1;
    background-color: #A8510B;
    border-radius: 10px;
    padding: 10px;
    position: sticky;
    top: 10px;
    width: 100%;
    max-width: 1024px;
    height: max-content;
}

.lsTitle {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    padding: 2px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 2px;
    font-size: 14px;
}

.lsItem>input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.lsItem>input, .lsItem>span {
    margin-bottom: 10px;
}

.lsItem>span {
    background-color: white;
    color: black;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.lsOptions {
    padding: 10px;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

.lsOptionInput {
    width: 50px;
    border: none;
    border-radius: 5px;
    outline: none
}

.listSearch>button {
    padding: 10px;
    background-color: #A8510B;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listSearch>button:hover {
    background-color: antiquewhite;
    color: #A8510B;
}

.listResult {
    flex:3;
}