.footer {
    width: 98%;
    font-size: 12px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

.fLists {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    cursor: pointer;
}

.fText {
    text-align: center;
}